<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Enregistre toi ducon !</h2>
  <form (ngSubmit)="utilisateurSoumis(formulaireEnregistrement.value)" #formulaireEnregistrement="ngForm">
      <div *ngIf="utilisateur.dirty && utilisateur.hasError('required')" class="error">Tu as oublié l'utilisateur n00b ! Y'a deux champs et t'es pas capable de les remplir tous les deux ?</div>
    <div>
      <label>Ton ptit nom</label><input name="username" ngModel required #utilisateur="ngModel"/>
    </div>
    <div *ngIf="motPasse.dirty && motPasse.hasError('required')" class="error">Tu as oublié le mot de passe n00b ! Y'a deux champs et t'es pas capable de les remplir tous les deux ?</div>
    <div>
        <label>Ton ptit mot de passe</label><input name="pass" type="password" ngModel required #motPasse="ngModel"/>
    </div>
    <div>
      <button type="submit">Soumettre</button>
    </div>
  </form>

  <h2>Enregistre toi une deuxième fois, mais par un form class driven, toujours ducon !</h2>
<form [formGroup]="ageSexeForm" (ngSubmit)="ageSexeSoumis(ageSexeForm.value)">
    <div *ngIf="age.dirty && age.hasError('required')" class="error">Tu as oublié l'âge n00b ! Y'a deux champs et t'es pas capable de les remplir tous les deux ?</div>
    <div *ngIf="age.dirty && age.hasError('pattern')" class="error">Un âge, c'est un nombre généralement...</div>
    <div>
      <label>Ton âge</label><input formControlName="age"/>
    </div>
    <div *ngIf="sexe.dirty && sexe.hasError('required')" class="error">Tu as oublié le sexe n00b ! Y'a deux champs et t'es pas capable de les remplir tous les deux ?</div>
    <div>
        <label>Ton ptit sexe :wink:</label><input formControlName="sexe"/>
    </div>
    <div>
      <button type="submit">Soumettre</button>
    </div>
</form>

<input [(ngModel)]="person" />
<div>{{ person | upperUnSurDeux }}</div>
</div>